body{
    background-color: #0f0f0f;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
   
}
.style-img{
    width:100px;
    margin: 10px;
}
.style-img1{
    width:320px;
    height: 190px;
    border-radius: 8px;
}
.style-img2{
    width:320px;
    height: 190px;
    border-radius: 8px;
}
.style-img3{
    width:320px;
    height: 190px;
    border-radius: 8px;
}

.style-img4{
    width:20px;
    height: 20px;s
}
.list{
width: 17%;
color: white;
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 flex-direction: column;

}
.list-style{
list-style: none;
}

.li{
    margin-bottom: 10px;
}
.s1{
position: relative;
bottom: 10px;
margin-left: 10px;
right: 30px;
}
.s2{
position: relative;
bottom: 4px;
}
.line{
    width: 70%;
    position: relative;
    right: 20px;
    background-color: #484848;
}
.mr-h{
    position: relative;
    left: 20px;
}
.hr{
    display: flex;
    flex-direction: row;
}

.style-img4{
    width:320px;
    height: 190px;
    border-radius: 8px;

}
.style-img5{
    width:320px;
    height: 190px;
    border-radius: 8PX;

}
.style-img6{
    width:320px;
    height: 190px;
    border-radius: 8px;
    
}
.images{
    width: 83%;
    display: flex;
    position: relative;
    top: 30px;
    left: x;
    flex-wrap: wrap;
}
    figure {
       
        margin: 9px;
    }
    figcaption {
        margin-top: 10px;
        font-size: 14px;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }
.mr-p{
    font-size: 13px;
    color: #a4a4a4;
}